html {
    margin: 0;
    padding: 0;

}
/* header{
  text-align: center;

} */
body{
    background-color: black;
    background-image: url("back7.jpg");
    background-size: cover;
}

menu {
  	display: flex;
    justify-content: center !important; /* add this line */
    align-items: center !important; /* add this line */
    text-align: center;
  }
  
  menu ul {
    
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  menu li {
	margin: 0 10px;
  }
  
  menu a {
	text-decoration: none;
	color: white;
	padding: 10px;
  font-weight: bold;
  }
  
  menu a:hover {
	color: #ffffff;
	background-color: #333333;
  }

  
  footer{
    color:rgba(255,255,255,0.6);
    text-align: center;
    
  }
  footer a{
    color:rgba(255,255,255,0.6);
    text-decoration: none;
  }

#Welcome{
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.15);
    text-align: center;
    font-family: 'Games', sans-serif;
    font-size:xx-large;
 
}
.container {
    position: relative;
    display: inline-block;
    width: 500px; /* adjust this value as needed */
    height: 500px; /* adjust this value as needed */
  }

.welcome-buttons{
    margin-top: -70px;
    margin-bottom: 10px;

}

.login-button, .register-button {
    font-family: 'Games', sans-serif;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    width: 150px; /* set a specific width value */
  }

.login-button:hover, .register-button:hover {
    opacity: 0.4;
  }
  
#text {
    position: center;
    bottom: -10px; /* adjust this value as needed */
    left: 0;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
  }

#my-dialog{
  background-color: rgba(128, 128, 128, 0.9);
  color: black;
  border-radius: 25px;
  font-family: 'Games', sans-serif;
  text-align: center;
  overflow-y: scroll;
  max-height: 80vh;
  padding: 20px;
  transition: opacity 0.2s ease-in-out;

}

#my-dialog::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

#my-dialog::-webkit-scrollbar-thumb {
  background-color: #555; /* Set the color of the thumb */
  border-radius: 10px; /* Round the corners of the thumb */
}

#my-dialog::-webkit-scrollbar-track {
  background-color: #ccc; /* Set the color of the track */
}
#close-dialog-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#close-dialog-btn:before,
#close-dialog-btn:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: black;
}

#close-dialog-btn:before {
  transform: rotate(45deg);
}

#close-dialog-btn:after {
  transform: rotate(-45deg);
}


#Register {
    display: none;
    margin: auto;
    width: 50%;
    padding: 50px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.15);
    text-align: center;
    font-family: 'Games', sans-serif;
    font-size:xx-large;
    color: white;
 }
 .submit {
  font-family: 'Games', sans-serif;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}
.submit:hover {
  opacity: 0.4;
}

#success-message{
    display: none;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.15);
    text-align: center;
    font-family: 'Games', sans-serif;
    font-size:xx-large;
}
 
#Login {
    display: none;
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.15);
    text-align: center;
    font-family: 'Games', sans-serif;
    font-size:xx-large;
    color: white;
 }
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;

 }
.login-button2 {
    font-family: 'Games', sans-serif;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}
.login-button2:hover {
  opacity: 0.4;
}

#Configuraiton{
  top: 50px;
  margin: auto;
  width: 30%;
  padding: 50px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px 5px #5c118a;
  background-color: rgba(133, 6, 153, 0.3);
  display: none;
  position: relative;
  text-align: center;
  font-family: 'Games', sans-serif;
  font-size: large;
  color: white;
  border-image: linear-gradient(to right, #8928c5, #6b00b6, #8928c5) 1;
  border-image-slice: 1;
}

input[id="shot"], input[id="minutes"] {
  background-color: rgba(255,255,255,0.3);
  border: none;
  text-align: center;
}

#GalaxySelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#GalaxyName {
  margin: 0 20px;
}

#GalaxySelectorLeft, #GalaxySelectorRight {
  background-color: transparent;
  border: none;
  color: white;
  font-size: xx-large;
  cursor: pointer;
}

#GalaxySelectorLeft:hover, #GalaxySelectorRight:hover {
  color: #8928c5;
}


.conf-buttons{

  display: flex;
  justify-content: center;
  }
  
#start-btn{
    position: absolute;
    bottom: -100px;
    right: 80px;
    font-family: 'Games', sans-serif;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    width: 150px;
}

#exit-btn{
    position: absolute;
    bottom: -100px;
    left: 80px;
    font-family: 'Games', sans-serif;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    width: 150px;

}
  
#start-btn:hover {
  opacity: 0.4;
}
#exit-btn:hover{
  opacity: 0.4;

}

#Game{
    display: none;

}
.canvas-container {
  position: fixed;
  padding-top: calc(100vh * 1 / 8);
  max-width: 100%;
}

#theCanvas {
  top: 0;
  left: 0;
  max-width: 100%;
  border:none;
  outline: none;

}

#game-info {
  margin: 0;
  padding: 0;
  height: 0;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-family: 'Games', sans-serif;
}

#restart{
  position: absolute;
  top:20px;
  left: 50px;
  font-family: 'Games', sans-serif;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

#exit{
  position: absolute;
  top:20px;
  right: 50px;
  font-family: 'Games', sans-serif;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

#restart:hover{
  opacity: 0.4;
}
#exit:hover {
  opacity: 0.4;

}

#game-over-dialog{
  background-color:rgba(128, 128, 128, 0.8);
  color: black;
  border-radius: 25px;
  font-family: 'Games', sans-serif;
}

#close-dialog {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#close-dialog:before,
#close-dialog:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: black;
}

#close-dialog:before {
  transform: rotate(45deg);
}

#close-dialog:after {
  transform: rotate(-45deg);
}
